.downloads-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.downloads-wrapper section.version-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
}

.downloads-wrapper section.version-list .divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin: 0.75rem 0;
  width: 100%;
}

.downloads-wrapper section.version-list .divider p {
  font-family: var(--font-header);
  font-size: 1rem;
  font-weight: 500;
  color: var(--t3);
}

.downloads-wrapper section.version-list .divider hr {
  flex-grow: 1;
  height: 2px;
  border: none;
  border-radius: 0.25rem;
  background-color: #ffffff13;
}

section.version-list .build {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  width: 100%;
  flex: 1;
  min-height: 10rem;
  overflow: hidden;
  user-select: none;
  border-radius: 0.5rem;
  background-color: var(--c0);
}

section.version-list .build .icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.35rem;
  background-position: center;
  background-size: cover;
}

section.version-list .build .splash {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  aspect-ratio: 25 / 9;
  background-size: cover;
  background-position: center -5rem;
  mask-image: linear-gradient(to left, #00000071 -50%, #00000000 100%);
}

section.version-list .build h2 {
  font-family: var(--font-header);
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--t1);
}

section.version-list .build p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--t3);
}

section.version-list .build .tags {
  font-size: 0.6rem;
  font-weight: 500;
  color: var(--t3);
}

section.version-list .build .buttons {
  z-index: 2;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
}

section.version-list .build .buttons button {
  position: relative;
  padding: 0.65rem;
  font-size: 0.85rem;
  background-color: #00000020;
}

section.version-list .build .buttons button svg {
  width: 1rem;
  height: 1rem;
  color: var(--t2);
  transition: color 100ms;
}

section.version-list .build .buttons button:hover {
  background-color: #00000080;
}

section.version-list .build .buttons button:hover svg {
  color: var(--t1);
}

section.version-list .build .buttons button .hidden {
  position: absolute;
  bottom: 110%;
  right: 0;
  z-index: 2;
  padding: 0.35rem 0.5rem;
  width: fit-content;
  border-radius: 0.25rem;
  background-color: #0d121daa;
  opacity: 0;
  scale: 0.95;
  pointer-events: none;
  transition: opacity 100ms, scale 100ms;
}

section.version-list .build .buttons button:hover .hidden {
  opacity: 1;
  scale: 1;
}

.downloads-wrapper section.download-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100%, 35rem);
  height: 100%;
  user-select: none;
  border-radius: 0.5rem;
  background-color: var(--c0);
}

.downloads-wrapper section.download-status .no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--t3);
}

.downloads-wrapper section.download-status .no-content svg {
  width: 2rem;
  height: 2rem;
  color: var(--t3);
}

.downloads-wrapper section.download-status .no-content h2 {
  font-family: var(--font-header);
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--t3);
}
